<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2022 - AspNetCorePrac - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        @*for this custom email taghepe we added @addTagHelper *,AspNetCorePrac in _ViewImports*@
        @*<custom-email my-email="manish.7151.sharma@gmail.com"></custom-email>*@
    </div>
</footer>
